$primaryColor: #FFFFFF;
$secondaryColor: #1c1818;
$thirdColor: #4aa1c7;

@font-face {
    font-family: boldPoppins;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: mediumPoppins;
    src: url(../fonts/Poppins-Medium.ttf);
}